<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LiScan</vendor>
    <vendor_url>https://github.com/RamazanBerk20/LiScan</vendor_url>

  <action id="io.github.liscan.LiScan.scan-as-administrator">
    <description>Scan protected files with LiScan</description>
    <message>Authentication is required to scan protected file metadata</message>
    <icon_name>io.github.liscan.LiScan</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/liscan/liscan-admin-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
